<header class='plateform'>
    <div class="container-header">
        <div class="centralizer">
            <div id="container-logo">
                <div id="logo">

                    <div class="fl hide_mobile">
                        <a href="<?php echo $rooturl; ?>" ><img src="{{ asset('img/logo-foxdrive-lecture-carte-conducteur.png') }}" alt="<?php echo $meta_title; ?>" title="<?php echo $meta_title; ?>" class='fl' style='height:60px' /></a>
                    </div>
                    <div class="fl ml5 mt05 hide_mobile">

                        <p class='mb0 fs18 lh1 ml5'>
                            <a href="<?php echo $rooturl; ?>" class="link3" stule='text-decoration:none'>
                                Fox DRIVER<br />
                                Plateforme
                            </a>
                        </p>



                    </div>
                    <p class="tac show_mobile">
                    </p>
                    <a href="<?php echo $rooturl; ?>" ><img src="{{ asset('img/logo-foxdrive-lecture-carte-conducteur.png') }}" alt="<?php echo $meta_title; ?>" title="<?php echo $meta_title; ?>"/></a>
                    <p onClick="$('#menu').slideToggle('fast','swing')" class="tac show_mobile mb0_m">
                        <img src="<?php echo $ressurl ?>img/ico-menu.png" alt=" - " /> Menu
                    </p>
                    <div class="fr fr_m">
                        <nav style="text-align: center">
                            <ul id="menu">
                                <li class="hide_mobile"><a href="/plateforme/index.html" class="link3">Accueil</a></li>
                                <li><a href="/plateforme/activites.html" class="link3">Activités</a></li>
                                <li><a href="/plateforme/evenements.html" class="link3">Evenements</a></li>
                                <li><a href="/plateforme/anomalies.html" class="link3">Anomalies</a></li>
                                <li><a href="/plateforme/vehicules.html" class="link3">Vehicules</a></li>
                                <li><a href="/plateforme/conditions.html" class="link3">Conditions</a></li>
                                <li><a href="<?php echo $urlAccount[$idLang] ?>" class="link3">Quitter</a></li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>

        </div>
    </div>


</header>
