
<div id="container-main">
    <div class="centralizer">
        <div class="main">

            <div id="logo" class="ml25p">

                <div class="fl">
                    <a href="<?php echo $urlBuy[$idLang]; ?>" ><img src="{{ asset('img/foxy-order.png') }}" alt="<?php echo $meta_title; ?>" title="<?php echo $meta_title; ?>" class='fl' /></a>
                </div>
                <div class="fl ml5 mt05 hide_mobile">

                    <p class='mb0 fs18 lh1 ml5'>
                        <a href="<?php echo $urlBuy[$idLang]; ?>" class="link2">
                            Fox DRIVER<br />
                            <span style="" class="first fs05">Les conducteurs rusés !</span>
                        </a>
                    </p>

                    <h1 class="fs06 ml5 second">
                        <img src="{{ asset('img/ico-smarpthone-tablette.png') }}" alt="Smarphone ou tablette" title="" class="fl mr5" /> Lecture de carte conducteur et contrôle des heures<br />Disponible sur Smartphone et Tablette Android
                    </h1>

                </div>


            </div>
        </div>
    </div>

